{
    "BOT_TOKEN" : "BOT_TOKEN",
    "BOT_ID" : "BOT_ID",
    "GUILD_ID" : "GUILD_ID",
    "API_HOSTNAME"   : "YOURIP",
    "API_URL"   : "http://YOURIP:5080",
    "API_PORT"   : 5080,
    "API_PATH_TEXT" : config.API_PATH_TEXT,
    "API_PATH_AUDIO" : config.API_PATH_AUDIO,
    "API_PATH_MUSIC" : API_PATH_MUSIC,
    "CACHE_DIR" : "/tmp/DiscordVoiceBot/audio"
}